# Badge Validata

## Principe

Le badge Validata est une représentation graphique destinée à illustrer l'état de validité d'une ressource tabulaire selon les critères de [Validata](https://go.validata.fr).

Exemple: ![](https://img.shields.io/static/v1.svg?label=Validata&message=cellules+valides+%3A+96.1%25&color=orange)

Les erreurs peuvent porter sur :

- la structure : nombre, ordre et libellés des colonnes
- le contenu : valeur absente, incorrecte, trop courte ou trop longue...

Les erreurs de structure sont vérifiées en premier. Si la structure est incorrecte, la validation s'arrête là. Sinon, un taux d'erreur de contenu est calculé (voir ci-dessous).

## Règles de calcul du badge

En fonction de la présence ou non d'erreurs de structure et/ou de contenu, le badge adopte une présentation différente. Voici les règles appliquées par l'outil Validata:

| Structure | Contenu | Texte affiché           | Couleur |
|-----------|---------|-------------------------|---------|
| KO        | *       | "structure invalide"    | rouge   |
| WARN      | KO (erreurs >= {{ threshold * 100 }}%) | "cellules valides : N%" | rouge   |
| WARN      | WARN (erreurs < {{ threshold * 100 }}%) | "cellules valides : N%" | orange  |
| WARN      | OK (0% d'erreurs) | "structure invalide"    | orange  |
| OK        | KO (erreurs >= {{ threshold * 100 }}%) | "cellules valides : N%" | rouge   |
| OK        | WARN (erreurs < {{ threshold * 100 }}%) | "cellules valides : N%" | orange  |
| OK        | OK (0% d'erreurs) | "valide" | vert    |

Notes :

- "Structure = WARN" signifie que les erreurs de structure ont pu être réparées automatiquement, permettant la validation du contenu du fichier. Ceci s'applique notamment aux erreurs d'encodage ou de délimiteur de colonnes.
- "Contenu = *" signifie que dans la mesure où la structure du fichier est invalide, le contenu n'est pas validé.
- La valeur "N%" présente dans la colonne "Texte affiché" vaut `100 - "taux d'erreur"`.

{% if weight_dict %}
Le taux d'erreur est le rapport entre le nombre de cellules en erreur et le nombre de cellules total, en tenant compte de la pondération spécifique des types erreurs suivants :

{% for err, w in weight_dict|dictsort -%}
- {{ err }} : {{ w * 100 }}%
{% endfor %}
{% else %}
Le taux d'erreur est le rapport entre le nombre de cellules en erreur et le nombre de cellules total.
{% endif %}